---
---

header {                                /* main top bar (logo + menu) */
  background-color: #111;               /* background color */
  background-image: none !important;    
  color: #bdbdbd;                       /* overridden below */
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 10;
  
  /* Add borders */
  border-top: 3px solid #333333;        /* main top bar top border */
  border-bottom: 1px solid #333333;     /* main top bar bottom border */
}

header .inner {                     /* inside the top bar */
  width: 100%;
  margin: 0;
  padding: 12px 20px 12px 20px;     /* 12 top, 20 right, 12 bottom, 20 left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .site-logo img {
  height: 40px;
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {                     /* top bar menu items styling */
  color: #f0f0f0;                        /* color off-white */
  text-decoration: none;                 /* no underline */
  font-size: 20px;                       /* size 20px */
  font-weight: normal;                   /* not bold */
  font-family: 'Zain', sans-serif;       /* font Zain */
}

header nav ul li a:hover {
  text-decoration: underline;
}

body {                                   /* default content styling */
  background-color: black;               /* background color */
  color: #f0f0f0;                        /* text color */
  font-size: 16px;                       /* text size */
  line-height: 1.25;                      /* text line spacing */
  margin: 0;
  font-family: 'Nunito', sans-serif;     /* font Nunito */
}

#main-content {
  padding: 12px 20px 20px 20px;     /* 12 top, 20 right, 20 bottom, 20 left */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.secondary-bar {
  background-color: #0d0d0d;
  color: #bdbdbd;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 9;

  border-bottom: 1px solid #333333;        /* secondary bar bottom border */
}

.secondary-bar .inner {
  width: 100%;
  margin: 0;
  padding: 8px 20px; /* Same as topbar */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.secondary-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.secondary-bar ul li {
  margin-right: 20px;
}

.secondary-bar ul li:last-child {
  margin-right: 0;
}

.secondary-bar ul li a {                 /* secondary bar menu items styling */
  color: #bdbdbd;                        /* font color darker than off-white */
  text-decoration: none;                 /* not underline */
  font-size: 18px;                       /* size 18 */
  font-weight: normal;                   /* not bold */
  font-family: 'Zain', sans-serif;       /* font Zain */
}

header nav ul li a.active,               /* active menu item styling */
.secondary-bar ul li a.active {
  font-weight: bold;                     /* bold if active */
}

.secondary-bar ul li a:hover {
  text-decoration: underline;
}

#posts-list {
  list-style: none;
  padding-left: 5px;
  margin: 0;
}

#posts-list li {
  margin: 0;
  padding: 0;
}

#posts-list h2 {
  margin-bottom: 0.25em;
}

#posts-list button {
  margin-bottom: 0;
}

.post-item button {
  background-color: #2E2E2E;
  padding: 4px 6px;
  color: #bdbdbd;
  margin-right: 6px;
  border: none;
  outline: none;
  box-shadow: none;
}

.post-item button:focus,
.post-item button:active {
  outline: none;
  box-shadow: none;
}

#posts-list .summary,
#posts-list .full-content {
  margin-top: 0.35em;
}

.post-title {
  color: #bdbdbd;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Ubuntu Condensed', sans-serif
}

.post-slash {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif
}

.post-date {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif
}

.post-summary {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.post-sep-title {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  color: #bdbdbd;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Ubuntu Condensed', sans-serif
}

.post-sep-date {
  margin-top: 0;
  margin-bottom: 1.5em;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif
}

.text-body-bigger {                      /* slightly bigger body content styling */
  font-size: 18px;                       /* size 16 */
}
