---
---

/* Style the main top bar (logo + menu) */
header {
  background-color: #111;
  background-image: none !important;
  color: #f0f0f0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 10;
  
  /* Add borders */
  border-top: 3px solid #333333;  /* 3px top border */
  border-bottom: 1px solid #333333;  /* 1px bottom border */
}

header .inner {
  width: 100%;
  margin: 0;
  padding: 12px 20px 15px 20px;     /* 12 top, 20 right, 15 bottom, 20 left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .site-logo img {
  height: 40px;
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

body {
  background-color: black;
  color: #f0f0f0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#main-content {
  padding: 15px 20px;
  padding: 12px 20px 20px 20px;     /* 12 top, 20 right, 20 bottom, 20 left */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
